.ui.label.teal.ribbon Settings
p
  .ui.fluid.action.input.storage-path
    input(id="dirDialog", type="file", style="display:none", nwdirectory)
    input(type='text', name='bin', value='', disabled="disabled", placeholder='Choose storage root directory')
    .ui.button Choose
p
  .ui.fluid.icon.input.remote-host
    input(type='text', name='host', value='', placeholder='ocelot-foss.org:12345')
    i.red.signal.icon
p
  .ui.fluid.action.input.hidden
    input(type='text', name='max_connections', value='', placeholder='20')
    .ui.button Set Maximum Connections
p
  .ui.fluid.action.input.hidden
    input(type='text', name='rate_limit', value='', placeholder='0 (no rate limit)')
    .ui.button Set Maximum Rate (KB/s)
.ui.label.teal.ribbon Activity
table.ui.table.segment.downloads.hidden
  thead
    tr
      th Progress
      th Filename
      th Size
      th Rate
  tbody
.ui.message.no-downloads No activity to report
