.ui.label.teal.ribbon Settings
p
  .ui.slider.checkbox.field.toggle-server
    input(type='checkbox')
    label Transmitter is OFF
p
  .ui.action.fluid.input.listen-port
    input(type='text', name='port', value='', placeholder='Listening port')
    .ui.button Change Port
.ui.label.teal.ribbon Receivers
table.ui.table.segment.receivers.hidden
  thead
    tr
      th Select
      th Optional Subdirectory
      th Hostname
  tbody
.ui.form.transmission
  .ui.fluid.action.input.transmission.hidden
    input(type='file', name='fileToTransmit', value='')
    .ui.queue.button Queue Transmission
.ui.message.no-receivers No receivers are setup to accept transmission

.ui.label.teal.ribbon.hidden Activity
- if (activity.length > 1)
  table.ui.table.segment
    thead
      tr
        th Filename
        th Progress
        th Rate
    tbody
      for item in activity
        tr
          td
            .ui.green.progress
              .bar(style='width: 93%;')
          td some...thing.mp4
          td 12.78 MB/s
- else
  .ui.message.hidden No activity to report
