tr.receiver(id="#{id}")
  td
    .ui.slider.checkbox
      input(type='checkbox')
      label
  td
    .ui.small.fluid.icon.input
      input(type='text', placeholder='My/Extra/Folders')
      i.settings.icon
  td= name
